@use "../../global_variables" as _;

.main {
  width: min(100%, 400px);
  height: calc(100% - env(keyboard-inset-height));
  border: 1px solid _.$light-gray;
  border-radius: 15px;
  padding: 10px 15px;
  background-color: _.$white;
  & > .header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    & > h1 {
      font-size: 1.25 * _.$base-font-size;
      font-weight: normal;
      margin: 0;
      padding: 0 8px;
    }
  }
  & > .body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 8px;
  }
  & > .footer {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    margin-top: 20px;
    padding: 10px 8px;
    background-color: _.$white;
  }
}
