[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.24"
psycopg2 = "==2.9.5"
gunicorn = "==20.1.0"
dj-database-url = "*"
requests = "==2.31.0"
pyquery = "==1.4.3"
python-dotenv = "==0.20.0"
djangorestframework = "==3.13.1"
django-cors-headers = "==4.0.0"
django-csp = "==3.7"
python-dateutil = "==2.8.2"
pytest-django = "==4.5.2"
google-api-python-client = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
