@use "../../global_variables" as _;

.main {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: linear-gradient(135deg, #d1eeff 0%, #feedff 100%);

  & > .body {
    position: relative;
    display: flex;
    min-height: 100%;
    width: 100%;
    @media (max-width: _.$width-780) {
      min-height: calc(100% - _.$header-height - _.$footer-height);
    }
  }
}

.user_avatar {
  width: 28px;
  border-radius: 100px;
}
