@use "../../global_variables" as _;

.main {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: _.$side-bar-width;
  min-width: _.$side-bar-width;
  background-color: _.$white;
  overflow-y: auto;
  border-right: 0.5px solid _.$light-gray;
  & > .header {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 65px;
    padding: 0 5px;
    margin: 0 10px 5px;
    border-bottom: 1px solid _.$noisy-white;
  }
  & > .subpage_list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 5px;
  }
  & > .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    & > .logo_outer {
      display: flex;
      justify-content: center;
    }
    & > .copyright {
      text-align: center;
      font-size: 0.7 * _.$base-font-size;
      color: _.$gray;
      margin: 5px 10px 15px;
    }
  }
}
