@use "../../global_variables" as _;

.main {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: _.$white;
  padding: 0;
  height: 3.8 * _.$base-font-size;
  transition-duration: 150ms;
  &.disabled::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: _.$transparent-white;
    cursor: not-allowed;
  }
  &:not(:last-child) {
    border-bottom: 1px solid _.$noisy-white;
  }
  & > .label {
    padding: 0 20px;
    flex-shrink: 0;
  }
  & > .inputWrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    height: 100%;
    & > .input {
      width: 100%;
      height: 100%;
      border: none;
      font-size: 1 * _.$base-font-size;
      padding: 0;
      letter-spacing: inherit;
      background-color: transparent;
      outline: none;
      text-align: right;
      color: _.$gray;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:focus {
        color: _.$deep-gray;
      }
    }
  }
}
