@use "../../../global_variables" as _;

.main {
  $border-radius: 25px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  height: 100dvh;
  padding: 30px;
  gap: 20px;
  @media (max-width: _.$width-1280) {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: fit-content;
  }
  @media (max-width: _.$width-512) {
    padding: 0 0 calc(_.$footer-height + 90px) 0;
    gap: 10dvh;
  }
  & > .left {
    display: grid;
    grid-template-rows: 1fr 6fr;
    gap: 20px;
    @media (max-width: _.$width-1280) {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    @media (max-width: _.$width-512) {
      gap: 60px;
    }
    & > .upper {
      position: relative;
      display: flex;
      align-items: stretch;
      padding: 15px 20px;
      gap: 20px;
      background-color: #ffffff90;
      box-shadow: 0 0 15px -10px _.$transparent-black;
      border-radius: $border-radius;
      overflow: hidden;
      overflow-x: auto;
      @media (max-width: _.$width-512) {
        flex-direction: column;
        margin: 0 15px;
        gap: 15px;
      }
      & > .market_index {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 100%;
        @media (max-width: _.$width-512) {
          height: 40px;
        }
        & > .left {
          display: flex;
          flex-direction: column;
          gap: 3px;
          width: 22%;
          white-space: nowrap;
          & > .title {
            color: _.$gray;
            font-size: 0.9 * _.$base-font-size;
          }
          & > .date {
            color: _.$gray;
            font-size: 0.65 * _.$base-font-size;
          }
        }
        & > .chart_container {
          height: 40px;
          width: 48%;
          @media (max-width: _.$width-512) {
            height: 100%;
          }
        }
        & > .price {
          display: flex;
          flex-direction: column;
          text-align: right;
          gap: 3px;
          white-space: nowrap;
          width: 30%;
          &.red {
            color: _.$red;
          }
          &.green {
            color: _.$green;
          }
          &.gray {
            color: _.$gray;
          }
          & > .price {
            font-size: 1.1 * _.$base-font-size;
            font-weight: bold;
          }
          & > .fluct_price {
            font-size: 0.65 * _.$base-font-size;
            letter-spacing: 0.7 * _.$base-letter-spacing;
          }
        }
      }
    }
    & > .lower {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border-radius: $border-radius;
      padding: 25px 10px 25px 25px;
      background-color: #ffffff90;
      box-shadow: 0 0 15px -10px _.$transparent-black;
      @media (max-width: _.$width-1280) {
        height: fit-content;
      }
      @media (max-width: _.$width-512) {
        padding: 0;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
      }
      & > .cash_invested_text {
        display: flex;
        flex-direction: column;
        gap: 5px;
        @media (max-width: _.$width-512) {
          padding: 0 20px;
        }
        & > .title {
          color: _.$gray;
        }
        & > .cash_invested {
          font-size: 2.9lvw;
          letter-spacing: 0.5 * _.$base-letter-spacing;
          font-weight: 600;
          color: _.$blue;
          @media (max-width: _.$width-512) {
            font-size: 8lvw;
          }
        }
      }
      & > .body {
        display: flex;
        flex-direction: column;
        align-items: initial;
        flex-grow: 1;
        & > .empty_section {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          flex-grow: 1;
          padding: 0 20px 70px;
          text-align: center;
          color: _.$gray;
          line-height: 1.6;
          @media (max-width: _.$width-512) {
            padding: 40px 20px;
            font-size: 0.85 * _.$base-font-size;
          }
          & > .button {
            position: relative;
            display: inline-block;
            color: _.$blue;
            font-weight: 500;
            cursor: pointer;
            margin: 0 2px;
            border-radius: 4px;
            transition: all 0.2s ease;
            text-decoration: underline;
            text-decoration-color: _.$blue;
            text-underline-offset: 3px;
            @media (hover: hover) {
              &:hover {
                opacity: 0.8;
              }
            }
            &:active {
              transform: scale(0.98);
            }
          }
        }
        & > .cash_invested_chart_container {
          flex-grow: 1;
          height: 100%;
          @media (max-width: _.$width-1280) {
            aspect-ratio: calc(3 / 2);
          }
        }
        & > .controls {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 25px 15px 0;
          & > .time_span_options {
            display: flex;
            justify-content: center;
            flex-grow: 1;
            & > .time_span_options_inner {
              --active-index: 0;
              --option-width: 65px;
              position: relative;
              display: flex;
              align-items: center;
              border-radius: 100px;
              background-color: _.$transparent-black;
              overflow: hidden;
              height: 40px;
              width: fit-content;
              & > .sliding_background {
                position: absolute;
                height: 40px;
                width: var(--option-width);
                border-radius: 100px;
                background-color: _.$transparent-black;
                transition: transform 0.3s ease;
                z-index: 0;
                transform: translateX(calc(var(--active-index) * var(--option-width)));
              }
              & > span {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: var(--option-width);
                border-radius: 100px;
                font-size: 0.8 * _.$base-font-size;
                color: _.$gray;
                z-index: 1;
                transition: color 0.3s ease;
                cursor: pointer;
                @media (hover: hover) {
                  &:hover {
                    color: _.$white;
                  }
                }
                &.active {
                  color: _.$white;
                }
              }
            }
          }
        }
      }
    }
  }
  & > .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    & > .upper {
      padding: 20px 20px 25px 20px;
      margin-bottom: 30px;
      @media (max-width: _.$width-512) {
        padding: 0;
      }
      & > .title {
        color: _.$gray;
        text-align: center;
        font-weight: normal;
        font-size: _.$base-font-size;
        margin: 0 5px 10px;
        @media (max-width: _.$width-512) {
          margin-bottom: 20px;
        }
      }
      & > .market_value_chart_container {
        position: relative;
        height: 30dvh;
        min-height: 230px;
        width: 100%;
        & > .chart_center {
          position: absolute;
          top: 50%;
          left: 50%;
          height: max(40%, 135px);
          aspect-ratio: 1;
          transform: translate(-50%, -50%);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 8px;
          color: _.$gray;
          & > .upper {
            font-size: 0.8 * _.$base-font-size;
          }
          & > .lower {
            font-size: 1.3 * _.$base-font-size;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
