@use "../../global_variables" as _;

.main {
    text-align: center;
    margin: 10px;
    border-radius: 8px;
    background-color: _.$noisy-white;
    padding: 10px;
    transition-duration: 150ms;
    font-size: 0.9 * _.$base-font-size;
    letter-spacing: 5 * _.$base-letter-spacing;
    cursor: pointer;
    @media (hover: hover) {
        &:hover {
            background-color: _.$light-gray;
        }
    }
}
