@use "../../../global_variables" as _;

.bottom_sheet_row {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  .google_logo {
    height: 24px;
  }
}

.model_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  .google_logo {
    height: 24px;
    margin-right: 5px;
  }
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  & > .google_logo {
    width: 60px;
    height: 60px;
    padding: 10px;
    margin-left: 16px;
  }
}
.email_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  & > .email_title {
    font-size: 0.8 * _.$base-font-size;
    color: _.$gray;
  }
}
