@use "../../../global_variables" as _;

.main {
  padding: 0 20px;
  & > .logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    & > .google_logo {
      width: 60px;
      height: 60px;
      padding: 10px;
      margin-left: 16px;
    }
  }
  .beautiful_row_content {
    color: _.$blue;
    font-size: 1 * _.$base-font-size;
  }
}

.bottom_sheet_row {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  .google_logo {
    height: 24px;
  }
}

.model_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
  .google_logo {
    height: 24px;
    margin-right: 5px;
  }
}
