@use "../../global_variables" as _;

.main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  &:first-child {
    padding-top: 20px;
  }
  &:not(:first-child) {
    border-top: 1px solid _.$noisy-white;
  }
  & > *:nth-last-child(2) {
    margin-right: 70px;
  }
  &.active {
    background-color: _.$transparent-blue;
  }
  @media (hover: hover) {
    &:hover {
      box-shadow: 0 2px 5px 0 _.$light-gray;
      & > .action_bar_outer {
        display: flex;
      }
    }
  }
  & > span {
    display: flex;
  }
  & > .action_bar_outer {
    position: absolute;
    top: 50%;
    right: 0;
    display: none;
    margin-right: 10px;
    transform: translateY(-50%);
    z-index: 1;
  }
  & > .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    & > .ripple {
      position: absolute;
      border-radius: 50%;
      transform: scale(0);
      animation: ripple 500ms linear;
      background-color: _.$transparent-black;
    }
  }
}

@keyframes ripple {
  to {
    transform: scale(2);
  }
}
