@use "../../global_variables" as _;

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: _.$header-height;
  width: 100%;
  padding: 0 12px;
  z-index: 4;
  & > .title {
    font-size: 1.1 * _.$base-font-size;
    padding: 0 12px;
  }
}
