@use "../../global_variables" as _;

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: _.$header-height;
  width: 100%;
  padding: 0 12px;
  background-color: _.$white;
  z-index: 4;
  border-bottom: 0.5px solid _.$noisy-white;
}
