@use "../../global_variables" as _;

.main {
    display: flex;
    align-items: flex-end;
    width: fit-content;
    & > .logo_container {
        width: 27.5px;
        height: 27.5px;
        padding: 3px;
        & > .logo {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    & > .product_name {
        white-space: nowrap;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
        color: _.$deep-gray;
        letter-spacing: 0.8 * _.$base-letter-spacing;
        font-size: 0.75 * _.$base-font-size;
        margin-bottom: 2.5px;
    }
    &.m {
        & > .logo_container {
            width: 41.25px;
            height: 41.25px;
            padding: 4.5px;
        }
        & > .product_name {
            letter-spacing: 1.65 * _.$base-letter-spacing;
            font-size: 1.125 * _.$base-font-size;
            margin-bottom: 4px;
        }
    }
    &.l {
        & > .logo_container {
            width: 55px;
            height: 55px;
            padding: 6px;
        }
        & > .product_name {
            letter-spacing: 2.7 * _.$base-letter-spacing;
            font-size: 1.5 * _.$base-font-size;
            margin-bottom: 4.5px;
        }
    }
}
