@use "../../global_variables" as _;

.main {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: _.$noisy-white;
    width: 100%;
    margin: 0;
    color: _.$gray;
    &.m {
        height: 40px;
        padding: 8px 15px;
        border-radius: 8px;
    }
    &.l {
        height: 55px;
        padding: 15px;
        border-radius: 10px;
    }
    & > input {
        height: 100%;
        flex-grow: 1;
        margin: 0;
        border: none;
        font-size: inherit;
        font-family: inherit;
        outline: none;
        background-color: transparent;
        &::placeholder {
            color: _.$light-gray;
        }
    }
}
