@use "../../global_variables" as _;

.main {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  width: 100%;
  margin: 0;
  color: _.$gray;
  &.m {
    height: 100%;
    padding: 0 12px;
    border-radius: 16px;
  }
  &.l {
    height: 55px;
    padding: 0 15px;
    border-radius: 0;
    background-color: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    box-shadow: none;
    border: none;
  }
  & > input {
    height: 100%;
    width: 160px;
    flex-grow: 1;
    margin: 0;
    border: none;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    background-color: transparent;
    &::placeholder {
      color: _.$light-gray;
    }
  }
}
