@use "../../../global_variables" as _;

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100dvh;
  padding: 0 15px 10px;
  @media (max-width: _.$width-780) {
    height: fit-content;
    padding: 0;
  }
  & > .floating_pill {
    position: sticky;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 20px 16px;
    padding: 7.5px 4px;
    z-index: 2;
    border-radius: 25px;
    background-color: #ffffffcc;
    backdrop-filter: blur(10px) saturate(150%);
    -webkit-backdrop-filter: blur(10px) saturate(150%);
    box-shadow:
      0 4px 16px #0000001a,
      0 2px 8px #00000014;
    border: 0.5px solid _.$noisy-white;
    width: fit-content;
    & > * {
      width: 100%;
    }
  }
  & > .record_list {
    display: flex;
    flex-direction: column;
    font-size: 0.85 * _.$base-font-size;
    background-color: _.$transparent-white;
    border-radius: 20px;
    box-shadow: 0 0 5px 1px _.$transparent-black;
    padding-bottom: 50px;
    overflow: auto;
    @media (max-width: _.$width-780) {
      border-radius: 0;
      padding-bottom: calc(20px + _.$footer-height);
      box-shadow: none;
    }
    & > .show_more_button_outer {
      margin: 15px 0 50px 0;
      display: flex;
      justify-content: center;
    }
  }
}
