@use "../../../global_variables" as _;

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  padding: 0 15px 10px;
  @media (max-width: _.$width-780) {
    height: fit-content;
    padding: 0;
  }
  & > .search_input_container {
    position: sticky;
    top: 0;
    background-color: _.$white;
    border-bottom: 0.5px solid _.$noisy-white;
    z-index: 1;
    padding: 10px 5px;
    @media (max-width: _.$width-780) {
      padding: 10px 10px;
    }
  }
  & > .record_list {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    font-size: 0.85 * _.$base-font-size;
    background-color: _.$transparent-white;
    border-radius: 20px;
    box-shadow: 0 0 5px 1px _.$transparent-black;
    overflow: auto;
    @media (max-width: _.$width-780) {
      border-radius: 0;
      padding-bottom: 80px;
    }
    & > .show_more_button_outer {
      margin: 15px 0 50px 0;
      display: flex;
      justify-content: center;
    }
  }
}
