@use "../../global_variables" as _;

.modal_inner {
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-height: 85dvh;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: _.$noisy-white;
  overflow: hidden;
  & > .search_input_outer {
    &:not(:last-child) {
      border-bottom: 1px solid #0000000d;
    }
  }
  & > .result {
    height: 100%;
    padding: 4px 0;
    overflow: auto;
    & > .row {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      padding: 10px 17px;
      border-radius: 0;
      @media (hover: hover) {
        &:hover {
          background-color: _.$transparent-black;
        }
      }
      & > .company {
        display: flex;
        flex-direction: column;
        gap: 3px;
        & > .sid {
          font-size: 0.7 * _.$base-font-size;
          color: _.$gray;
        }
        & > .name {
          font-size: 0.9 * _.$base-font-size;
        }
      }
      & > .price {
        display: flex;
        flex-direction: column;
        gap: 3px;
        min-width: max-content;
        & > .price {
          text-align: right;
          font-weight: bold;
        }
        & > .price_fluct {
          text-align: right;
          font-size: 0.7 * _.$base-font-size;
        }
      }
      &.red {
        .price {
          color: _.$red;
        }
      }
      &.green {
        .price {
          color: _.$green;
        }
      }
    }
  }
}
