@use "../../../global_variables" as _;

.main {
  $border-radius: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  height: 100dvh;
  padding: 30px;
  gap: 20px;
  @media (max-width: _.$width-1280) {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: fit-content;
  }
  @media (max-width: _.$width-512) {
    padding: 0 0 calc(_.$footer-height + 80px) 0;
    gap: 10dvh;
  }
  & > .left {
    display: grid;
    grid-template-rows: 1fr 6fr;
    gap: 20px;
    @media (max-width: _.$width-1280) {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    @media (max-width: _.$width-512) {
      gap: 60px;
    }
    & > .upper {
      position: relative;
      display: flex;
      align-items: center;
      gap: 20px;
      overflow-x: auto;
      padding: 15px 20px;
      background-color: #ffffff90;
      box-shadow: 0 0 15px -10px _.$transparent-black;
      border-radius: $border-radius;
      &::-webkit-scrollbar {
        display: none;
      }
      @media (max-width: _.$width-512) {
        flex-direction: column;
        padding: 10px 15px 15px;
        margin: 0 15px;
      }
      & > .market_index {
        display: flex;
        align-items: flex-end;
        gap: 5px;
        width: 330px;
        min-width: fit-content;
        & > .left {
          min-width: max-content;
          width: 75px;
          & > .title {
            font-size: 0.9 * _.$base-font-size;
            color: _.$gray;
            margin-right: 10px;
          }
          & > .date {
            color: _.$light-gray;
            font-size: 0.65 * _.$base-font-size;
            margin-right: auto;
          }
        }
        & > .chart_container {
          height: 40px;
          width: 140px;
        }
        & > .price {
          display: flex;
          flex-direction: column;
          width: 105px;
          text-align: right;
          gap: 3px;
          &.red {
            color: _.$red;
          }
          &.green {
            color: _.$green;
          }
          &.gray {
            color: _.$gray;
          }
          & > .price {
            font-size: 1.1 * _.$base-font-size;
            font-weight: bold;
          }
          & > .fluct_price {
            font-size: 0.65 * _.$base-font-size;
            letter-spacing: 0.7 * _.$base-letter-spacing;
          }
        }
      }
    }
    & > .lower {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border-radius: $border-radius;
      padding: 20px 20px 15px 20px;
      background-color: #ffffff90;
      box-shadow: 0 0 15px -10px _.$transparent-black;
      @media (max-width: _.$width-1280) {
        height: fit-content;
      }
      @media (max-width: _.$width-512) {
        padding: 0;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
      }
      & > .cash_invested_text {
        display: flex;
        flex-direction: column;
        gap: 3px;
        @media (max-width: _.$width-512) {
          padding: 0 20px;
        }
        & > .title {
          color: _.$gray;
        }
        & > .cash_invested {
          font-size: 2.3 * _.$base-font-size;
          letter-spacing: 0.5 * _.$base-letter-spacing;
          font-weight: 600;
          color: _.$blue;
          @media (max-width: _.$width-512) {
            font-size: 2.1 * _.$base-font-size;
          }
        }
      }
      & > .body {
        display: flex;
        align-items: center;
        @media (max-width: _.$width-512) {
          flex-direction: column;
          align-items: initial;
        }
        & > .cash_invested_chart_container {
          flex-grow: 1;
          aspect-ratio: calc(3 / 2);
          @media (max-width: _.$width-1280) {
            height: 250px;
            aspect-ratio: auto;
          }
        }
        & > .controls {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          padding-left: 20px;
          @media (max-width: _.$width-512) {
            flex-direction: row;
            padding: 25px 15px 0;
          }
          & > .time_span_options {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 1;
            @media (max-width: _.$width-512) {
              flex-direction: row;
            }
            & > .time_span_options_inner {
              position: relative;
              display: flex;
              flex-direction: column-reverse;
              align-items: center;
              width: 35px;
              border-radius: 100px;
              background-color: _.$transparent-black;
              overflow: hidden;
              --active-index: 0;
              --option-height: 55px;
              @media (max-width: _.$width-512) {
                flex-direction: row;
                height: 40px;
                width: fit-content;
                --option-height: 65px;
              }
              & > .sliding_background {
                position: absolute;
                height: var(--option-height);
                width: 35px;
                aspect-ratio: 1;
                border-radius: 100px;
                background-color: _.$transparent-black;
                transition: transform 0.3s ease;
                z-index: 0;
                transform: translateY(
                  calc(var(--active-index) * -1 * var(--option-height))
                );
                @media (max-width: _.$width-512) {
                  height: 40px;
                  width: var(--option-height);
                  transform: translateX(
                    calc(var(--active-index) * var(--option-height))
                  );
                }
              }
              & > span {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: var(--option-height);
                aspect-ratio: 1;
                border-radius: 100px;
                font-size: 0.8 * _.$base-font-size;
                color: _.$gray;
                z-index: 1;
                transition: color 0.3s ease;
                @media (max-width: _.$width-512) {
                  height: var(--option-height);
                }
                @media (hover: hover) {
                  &:hover {
                    color: _.$white;
                  }
                }
                &.active {
                  color: _.$white;
                }
              }
            }
          }
        }
      }
    }
  }
  & > .right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    & > .upper {
      padding: 20px;
      border-radius: $border-radius;
      background-color: _.$transparent-black;
      box-shadow: 0 0 15px -10px _.$black;
      @media (max-width: _.$width-512) {
        padding: 0;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
      }
      & > .title {
        color: _.$gray;
        text-align: center;
        font-weight: normal;
        font-size: _.$base-font-size;
        margin: 0 5px 10px;
      }
      & > .market_value_chart_container {
        position: relative;
        height: 28dvh;
        min-height: 200px;
        width: 100%;
        & > .chart_center {
          position: absolute;
          top: 50%;
          left: 50%;
          height: max(66%, 135px);
          aspect-ratio: 1;
          transform: translate(-50%, -50%);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          color: _.$gray;
          border: 1px solid _.$light-gray;
          border-radius: 200px;
          & > .upper {
            font-size: 0.75 * _.$base-font-size;
            font-weight: 300;
          }
          & > .lower {
            font-size: 1.3 * _.$base-font-size;
            margin-bottom: 20px;
          }
        }
      }
    }
    & > .lower {
      display: flex;
      flex-direction: column;
      padding: 15px 25px;
      background-color: #ffffff90;
      box-shadow: 0 0 15px -10px _.$transparent-black;
      border-radius: $border-radius;
      @media (max-width: _.$width-512) {
        margin: 0 20px;
      }
      & > .summary_row {
        display: flex;
        align-items: center;
        gap: 5px;
        height: 40px;
        width: 100%;
        min-width: fit-content;
        & > .left {
          min-width: max-content;
          width: 75px;
          & > .title {
            font-size: 0.9 * _.$base-font-size;
            color: _.$gray;
            margin-right: 10px;
          }
        }
        & > .price {
          display: flex;
          flex-direction: column;
          width: 105px;
          text-align: right;
          gap: 3px;
          margin-left: auto;
          & > .price {
            font-size: 1.1 * _.$base-font-size;
            font-weight: bold;
          }
        }
      }
    }
  }
}
