@use "../../global_variables" as _;

.main {
  display: grid;
  grid-template-columns: 1.618fr 1fr;
  width: 100vw;
  height: 100dvh;
  @media (max-width: _.$width-780) {
    display: flex;
    justify-content: center;
  }
  & > .left {
    position: relative;
    @media (max-width: _.$width-780) {
      display: none;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      backdrop-filter: brightness(80%);
    }
    &::after {
      content: "Image by Taigu";
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 10px;
      color: _.$white;
      font-size: 0.8 * _.$base-font-size;
      letter-spacing: 0.5 * _.$base-letter-spacing;
      text-shadow: 0 0 5px _.$semi-transparent-black;
    }
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  & > .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3dvh;
    & > .greeting {
      font-size: 1.2 * _.$base-font-size;
    }
    .google_icon {
      height: 24px;
      margin-right: 5px;
    }
  }
}
