@use "../../../global_variables" as _;

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
    & > .switch_button_container_outer {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: center;
        padding: 10px 0;
        z-index: 2;
        background-color: _.$white;
        border-bottom: 1px solid _.$noisy-white;
        @media (max-width: _.$width-780) {
            top: 10px;
            display: block;
            padding: 5px 0 10px;
            margin: 0 auto;
            border: none;
            background-color: transparent;
        }
        & > .switch_button_container {
            display: flex;
            width: fit-content;
            gap: 3px;
            padding: 3px;
            border-radius: 8px;
            background-color: _.$light-gray;
            // & > hr {
            //     border: none;
            //     border-left: 2px solid;
            //     border-radius: 10px;
            //     color: _.$gray;
            //     margin: 5px 4px;
            // }
        }
    }
    & > .list {
        $card-width: min(87vw, 320px);
        display: grid;
        grid-template-columns: repeat(auto-fit, $card-width);
        gap: 20px;
        justify-content: center;
        width: 100%;
        overflow: auto;
        padding: 10px 10px 85px;
        @media (max-width: _.$width-780) {
            display: flex;
            flex-direction: column;
            gap: 0;
            padding: 0 0 85px;
            border-top: 1px solid _.$noisy-white;
        }
    }
}
