@use "../../../global_variables" as _;

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  & > .switch_button_container_outer {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    z-index: 2;
    background-color: _.$white;
    border-bottom: 0.5px solid _.$noisy-white;
    & > .switch_button_container {
      display: flex;
      width: fit-content;
      gap: 3px;
      padding: 3px;
      border-radius: 8px;
      background-color: _.$light-gray;
    }
  }
  & > .list {
    $card-width: min(87vw, 320px);
    display: grid;
    grid-template-columns: repeat(auto-fit, $card-width);
    gap: 20px;
    justify-content: center;
    width: 100%;
    overflow: auto;
    padding: 10px 10px 125px;
    @media (max-width: _.$width-780) {
      display: flex;
      flex-direction: column;
      gap: 0;
      padding: 0 0 125px;
      border-top: 1px solid _.$noisy-white;
    }
  }
}
