@use "../../global_variables" as _;

.main {
    height: 100%;
    width: 100%;
    background-color: _.$white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
