@use "../../global_variables" as _;

.main {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  height: _.$header-height;
  padding: 0 12px 0 8px;
  font-weight: 500;
  color: _.$black;
  z-index: 2;
}
