@use "../../global_variables" as _;

.main {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  width: min-content;
  height: min-content;
  aspect-ratio: 1;
  border: none;
  padding: 6px;
  margin: 0;
  background: transparent;
  color: _.$gray;
  font: inherit;
  transition-duration: 150ms;
  cursor: pointer;
  outline: none;
  &.disabled {
    color: _.$light-gray;
    cursor: default;
  }
  &:focus-visible {
    box-shadow:
      0 0 0 2px _.$white,
      0 0 0 5px _.$transparent-blue;
  }
  &:active {
    &:not(.disabled) {
      background-color: _.$transparent-black;
    }
  }
  @media (hover: hover) {
    &:hover {
      &:not(.disabled) {
        color: _.$deep-gray;
        background-color: _.$transparent-black;
      }
    }
  }
}
