@use "../../global_variables" as _;

.main {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: _.$footer-height;
  width: 100%;
  padding: 0 5px 30px 5px;
  background-color: #ffffffdd;
  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%) !important;
  border-radius: 25px 25px 0 0;
  box-shadow: 0 0px 8px 3px _.$transparent-black;
  z-index: 2;
  & > .icon_outer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: _.$black;
    &:not(.active) {
      color: _.$gray;
    }
    & > .icon_inner {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      padding: 1px;
    }
  }
}
