@use "../../global_variables" as _;

.main {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: _.$footer-height;
  width: 100%;
  padding: 0 5px;
  background-color: _.$white;
  border-top: 0.5px solid _.$noisy-white;
  z-index: 2;
  & > .icon_outer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: _.$footer-height;
    color: _.$deep-gray;
    opacity: 0.8;
    &.active {
      color: _.$black;
      opacity: 1;
    }
    & > .icon_inner {
      width: 23px;
    }
  }
}
