@use "../../global_variables" as _;

.background {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100dvh - env(keyboard-inset-height, 0px));
  width: 100vw;
  overflow: auto;
  padding: 50px 0;
  background-color: _.$semi-transparent-black;
  z-index: 6;
  user-select: none;
  animation: 300ms fadein ease;
  & > .main {
    $modal-body-margin-x: 25px;
    border-radius: 20px;
    background-color: _.$white;
    animation: 0.3s fadescalein ease;
    &.compact {
      width: min(85vw, 350px);
    }
    &.auto {
      width: fit-content;
      min-width: min(85vw, 350px);
      max-width: min(85vw, 720px);
    }
    &.full_screen {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      border-radius: initial;
      animation: none;
      & > .header {
        * {
          color: _.$gray;
        }
      }
      & > .body {
        max-height: none;
      }
      & > .footer {
        position: sticky;
        bottom: 0;
        background-color: _.$white;
      }
      &.transparent {
        width: fit-content;
        min-width: min(85vw, 650px);
        height: fit-content;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        & > .body {
          margin: 0 auto;
        }
      }
    }
    &.transparent {
      background-color: transparent;
    }
    & > .header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 60px;
      margin: 0 $modal-body-margin-x;
      color: _.$gray;
      &:empty {
        height: 0;
        margin: 0 $modal-body-margin-x 60px;
      }
      & > .header_title {
        display: flex;
        align-items: center;
        flex-grow: 1;
      }
    }
    & > .body {
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-height: 512px;
      margin: 0 $modal-body-margin-x 5px;
      padding: 2px;
      overflow: auto;
      & > .description {
        font-size: 0.8 * _.$base-font-size;
        color: _.$gray;
      }
    }
    & > .footer {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: fit-content;
      padding: 15px $modal-body-margin-x;
      gap: 15px;
      &:empty {
        height: 0px;
        padding: 0;
        margin-bottom: 25px;
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadescalein {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
