@use "../../global_variables" as _;

.main {
    width: min(100%, 400px);
    border: 1px solid _.$light-gray;
    border-radius: 8px;
    padding: 10px 15px;
    &.mobile {
        border: none;
    }
    & > .header {
        display: flex;
        justify-content: center;
        padding: 30px 0;
    }
    & > .body {
        display: flex;
        flex-direction: column;
        padding: 10px 8px;
        gap: 20px;
    }
    & > .footer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 10px;
        padding: 30px 8px 10px;
    }
}
