@use "../../global_variables" as _;

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  background-color: _.$semi-transparent-black;
  z-index: 6;
  user-select: none;
}

.main {
  --border-radius: 25px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: _.$white;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  animation: flyin 0.3s ease;
  z-index: 7;
  & > .header {
    position: relative;
    width: 100%;
    height: 25px;
    min-height: 25px; // prevent from being squeezed
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      height: 4px;
      width: 50px;
      border-radius: 10px;
      transform: translate(-50%, -50%);
      background-color: _.$gray;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      height: 35px;
      width: 100%;
      transform: translate(-50%, -10px);
    }
  }
  & > .body {
    overflow: auto;
    padding-bottom: 15px;
  }
}

@keyframes flyin {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}
