@use "../../../global_variables" as _;

.main {
  display: flex;
  flex-direction: column;
  width: min(100%, 720px);
  padding: 0 20px;
  .blue {
    color: _.$blue;
  }
  .red {
    color: _.$red;
  }
}
