@use "../../global_variables" as _;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: _.$noisy-white;
  overflow: auto;
  & > .body {
    width: min(100%, 720px);
  }
}
