@use "../../global_variables" as _;

.main {
  width: 100%;
  height: 100%;
  overflow: auto;
  & > .subpage_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15dvh;
    min-height: 100%;
    width: 100%;
    @media (max-width: _.$width-780) {
      padding-top: 0;
      min-height: calc(
        100% - _.$header-height - _.$footer-height - _.$show-header-border-boundary
      );
    }
  }
}
