@use "../../global_variables" as _;

.button {
  --border-radius: 8px;
  $transition-duration: 200ms;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
  border: none;
  border-radius: var(--border-radius);
  padding: 6px 12.5px;
  width: max-content;
  min-width: max-content;
  transition-duration: $transition-duration;
  letter-spacing: 1.2 * _.$base-letter-spacing;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    background-color: transparent;
  }
  @media (hover: hover) {
    &:hover:not(:disabled):not(.waiting) {
      &::before {
        background-color: _.$transparent-black;
        transition-duration: $transition-duration;
      }
    }
  }
  &:disabled {
    cursor: not-allowed !important;
    color: _.$light-gray !important;
    background-color: _.$noisy-white !important;
    &.waiting::before {
      background: no-repeat center/20px url("../../assets/loading.svg");
      background-color: _.$noisy-white;
    }
  }
  &.transparent {
    background-color: transparent;
    color: _.$deep-gray;
    &:disabled {
      color: _.$light-gray !important;
      background-color: transparent !important;
    }
  }
  &.white {
    background-color: _.$white;
    color: _.$deep-gray;
  }
  &.black {
    background-color: _.$black;
    color: _.$white;
  }
  &.light {
    background-color: _.$transparent-black;
    color: _.$deep-gray;
  }
  &.primary_fill {
    background-color: _.$blue;
    color: _.$white;
  }
  &.primary {
    background-color: _.$white;
    color: _.$blue;
  }
  &.success_fill {
    background-color: _.$green;
    color: _.$white;
  }
  &.success {
    background-color: _.$white;
    color: _.$green;
  }
  &.dangerous_fill {
    background-color: _.$red;
    color: _.$white;
  }
  &.dangerous {
    background-color: _.$white;
    color: _.$red;
  }
  &.xl {
    --border-radius: 10px;
    font-size: 1.2 * _.$base-font-size;
    padding: 12.5px 25px;
  }
  &.l {
    --border-radius: 9px;
    font-size: 0.9 * _.$base-font-size;
    padding: 10px 20px;
  }
  &.s {
    --border-radius: 7px;
    font-size: 0.8 * _.$base-font-size;
    padding: 5px 10px;
  }
  &.xs {
    --border-radius: 6px;
    font-size: 0.7 * _.$base-font-size;
    padding: 3.5px 7px;
  }
  &.border {
    border: 1px solid _.$light-gray;
  }
  &.bold {
    font-weight: bold;
  }
  &.round {
    border-radius: 1000px;
  }
}
