@use "../../../global_variables" as _;

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100dvh;
  padding: 0 15px 10px;
  @media (max-width: _.$width-780) {
    height: fit-content;
    padding: 0;
  }
  & > .floating_pill_wrapper {
    position: sticky;
    top: 10px;
    display: flex;
    justify-content: center;
    padding: 10px 16px 20px;
    z-index: 2;
    background-color: transparent;
    & > .floating_pill {
      position: relative;
      display: flex;
      align-items: center;
      padding: 4px;
      border-radius: 25px;
      background-color: #ffffffcc;
      backdrop-filter: blur(10px) saturate(150%);
      -webkit-backdrop-filter: blur(10px) saturate(150%);
      box-shadow:
        0 4px 16px #0000001a,
        0 2px 8px #00000014;
      border: 0.5px solid _.$noisy-white;
      & > .switch_button_container {
        position: relative;
        display: flex;
        gap: 3px;
        padding: 0;
        --option-width: 70px;
        & > .active_indicator {
          position: absolute;
          top: 0;
          left: 0;
          width: var(--option-width);
          height: 100%;
          background-color: _.$white;
          border-radius: 16px;
          transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
          z-index: 0;
          box-shadow: 0 2px 8px #0000001a;
        }
        & > .tab_button {
          position: relative;
          z-index: 1;
          width: var(--option-width);
          background-color: transparent;
          border: none;
          border-radius: 16px;
          padding: 6px 8px;
          font-size: 0.7 * _.$base-font-size;
          color: _.$gray;
          cursor: pointer;
          transition: color 200ms;
          &.active {
            color: _.$deep-gray;
            font-weight: 500;
          }
        }
      }
      & > .search_input_container {
        padding: 0;
      }
    }
  }
  & > .empty_section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85 * _.$base-font-size;
    background-color: _.$transparent-white;
    border-radius: 20px;
    box-shadow: 0 0 5px 1px _.$transparent-black;
    padding: 60px 20px;
    color: _.$gray;
    text-align: center;
    opacity: 0.7;
    @media (max-width: _.$width-780) {
      border-radius: 0;
      box-shadow: none;
    }
  }
  & > .record_list {
    display: flex;
    flex-direction: column;
    font-size: 0.85 * _.$base-font-size;
    background-color: _.$transparent-white;
    border-radius: 20px;
    box-shadow: 0 0 5px 1px _.$transparent-black;
    padding-bottom: 50px;
    overflow: auto;
    @media (max-width: _.$width-780) {
      border-radius: 0;
      padding-bottom: calc(20px + _.$footer-height);
      box-shadow: none;
    }
    & > .show_more_button_outer {
      margin: 15px 0 50px 0;
      display: flex;
      justify-content: center;
    }
    .company {
      display: block;
      width: 30%;
      min-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .price {
      justify-content: flex-end;
      align-items: flex-end;
      width: 60px;
      white-space: nowrap;
    }
    .quantity_outer {
      & > .trade_type {
        font-weight: bold;
        margin: 0 5px;
        &.buy {
          color: _.$red;
        }
        &.sell {
          color: _.$blue;
        }
      }
      & > .quantity {
        text-align: right;
        width: 60px;
        white-space: nowrap;
      }
    }
    .date {
      font-size: 0.75 * _.$base-font-size;
      color: _.$gray;
      white-space: nowrap;
    }
  }
}

.modal_inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  font-size: 0.85 * _.$base-font-size;
  & > .company {
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  & > .price {
    width: 60px;
    white-space: nowrap;
  }
  & > .trade_type {
    font-weight: bold;
    margin: 0 5px 0 5px;
    &.buy {
      color: _.$red;
    }
    &.sell {
      color: _.$blue;
    }
  }
  & > .quantity {
    width: 60px;
    white-space: nowrap;
  }
  & > .date {
    font-size: 0.75 * _.$base-font-size;
    color: _.$gray;
    white-space: nowrap;
  }
}
