@use "../../global_variables" as _;

.main {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 1.2 * _.$base-font-size;
  padding: 20px;
  gap: 20px;
  transition-duration: 150ms;
  &:not(:last-child) {
    border-bottom: 1px solid _.$noisy-white;
  }
  @media (hover: hover) {
    &.reactive:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.015);
      & > .tail_mark {
        color: _.$gray;
      }
    }
  }
  & > .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    & > .ripple {
      position: absolute;
      border-radius: 50%;
      transform: scale(0);
      animation: ripple 250ms linear;
      background-color: _.$transparent-black;
    }
  }
  & > .label {
    width: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.75 * _.$base-font-size;
    white-space: nowrap;
  }
  & > .value {
    flex-grow: 1;
    word-break: break-all;
    font-size: 0.9 * _.$base-font-size;
    color: _.$gray;
    overflow: hidden;
    & > .string {
      min-height: _.$base-font-size;
      word-wrap: break-word;
    }
  }
  & > .tail_mark {
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
  }
}

@keyframes ripple {
  to {
    transform: scale(2);
  }
}
