@use "../../global_variables" as _;

.main {
  display: flex;
  flex-direction: column;
  width: min(100%, 720px);
  height: fit-content;
  border: 1px solid _.$light-gray;
  border-radius: 8px;
  overflow-x: hidden;
  @media (max-width: _.$width-780) {
    border: none;
  }
  & > .title {
    font-size: 0.8 * _.$base-font-size;
    font-weight: normal;
    padding: 0 18px;
    margin: 16px 0 10px;
    color: _.$gray;
    @media (max-width: _.$width-780) {
      padding: 0 10px;
    }
    @media (max-width: _.$width-512) {
      display: none;
    }
  }
}
