@use "../../global_variables" as _;

.main {
  display: flex;
  flex-direction: column;
  width: min(100%, 720px);
  height: fit-content;
  overflow-x: hidden;
  & > .title {
    font-size: 0.8 * _.$base-font-size;
    font-weight: 500;
    padding: 0 15px;
    margin: 20px 0 10px;
    color: _.$gray;
  }
  & > .content {
    background-color: _.$white;
    border-radius: 20px;
    overflow: hidden;
  }
}
