@use "../../../global_variables" as _;

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 0 15px 50px;
  .row_inner {
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: center;
    color: _.$deep-gray;
    &.user_info {
      & > .avatar_container {
        position: relative;
        width: 40px;
        height: 40px;
        & > .avatar {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 100px;
        }
      }
      & > .username {
        font-size: _.$base-font-size;
        font-weight: 500;
      }
    }
    &.email {
      & > .email_container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 2px;
        & > div:last-child {
          font-size: 0.8 * _.$base-font-size;
          color: _.$gray;
        }
      }
      & > .google_logo {
        width: 20px;
        height: 20px;
        object-fit: contain;
        margin-left: auto;
      }
    }
    &.logout {
      color: _.$red;
    }
  }
  & > .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 0.75 * _.$base-font-size;
    margin-top: 30px;
    color: _.$gray;
  }
}
