$white: #fff;
$noisy-white: #f5f5f5;
$light-gray: #ddd;
$gray: #888;
$deep-gray: #444;
$black: #000;
$red: #d4493f;
$green: #1aa260;
$blue: #4c8bf5;
$yellow: #fbbc05;
$transparent-black: #00000009;
$semi-transparent-black: #0007;
$transparent-blue: #4c8bf520;
$transparent-white: #fffa;

$base-font-size: 1rem;
$base-letter-spacing: 1px;

$header-height: 55px;
$footer-height: 65px;
$function-bar-width: 230px;
$show-header-border-boundary: 5px;
$width-512: 511px;
$width-780: 779px;
$width-1024: 1023px;
$width-1280: 1279px;
