@use "global_variables" as _;

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: _.$deep-gray;
  font-size: _.$base-font-size;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  user-select: none;
  letter-spacing: _.$base-letter-spacing;
  -webkit-user-drag: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: _.$width-780) {
  ::-webkit-scrollbar {
    display: none;
  }
}
