@use "../../global_variables" as _;

.main {
  position: fixed;
  bottom: 0;
  left: 0;
  height: max-content;
  max-width: 100%;
  z-index: 6;
  user-select: none;
  & > .toast_outer {
    padding: 16px;
    animation: leftflyinout 5s ease;
    width: 420px;
    & > .toast {
      position: relative;
      border-radius: 5px;
      background-color: _.$red;
      padding: 16px 24px 16px 16px;
      font-weight: bold;
      letter-spacing: 0.5 * _.$base-letter-spacing;
      color: _.$noisy-white;
      font-size: 0.85 * _.$base-font-size;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: _.$transparent-white;
        animation: countdown 4.8s linear;
        transform-origin: left;
      }
      & > .close_button {
        position: absolute;
        right: 4px;
        top: 4px;
        @media screen and (max-width: _.$width-512) {
          transform: scale(1.5);
          transform-origin: top right;
        }
      }
    }
    &:not(:last-child) {
      padding-bottom: 0;
    }
    @media screen and (max-width: _.$width-512) {
      width: 100vw;
    }
  }
  @media screen and (max-width: _.$width-512) {
    width: 100vw;
    top: 0;
  }
}

@keyframes leftflyinout {
  from {
    transform: translateX(-110%);
  }
  6% {
    transform: translateX(0);
  }
  94% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-110%);
  }
}

@keyframes countdown {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
