@use "../../global_variables" as _;

.main {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  background-color: _.$white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2dvh;
  z-index: 8;
  & > .loading_spinner {
    width: 20px;
    aspect-ratio: 1;
    opacity: 60%;
  }
}
