@use "../../global_variables" as _;

.main {
  height: 100dvh;
  width: 100vw;
  overflow: auto;
  scroll-behavior: smooth;
  background-color: _.$white;
  & > .header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0 30px;
    background-color: _.$transparent-white;
    border-bottom: 1px solid _.$transparent-black;
    backdrop-filter: blur(10px);
    z-index: 2;
    & > .ctas {
      display: flex;
      gap: 10px;
    }
  }
  & > .cta_container {
    position: fixed;
    bottom: min(5.5vw, 5.5dvh);
    right: min(5.5vw, 5.5dvh);
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 15px;
    border-radius: 20px;
    background-color: _.$black;
    box-shadow: 0 0 15px 0 _.$semi-transparent-black;
    z-index: 2;
    & > .logo {
      width: 46px;
      aspect-ratio: 1;
      object-fit: cover;
    }
    & > .middle {
      display: flex;
      flex-direction: column;
      gap: 5px;
      color: _.$light-gray;
      margin-right: 10px;
      & > .top {
        letter-spacing: 0.5 * _.$base-letter-spacing;
      }
      & > .bottom {
        font-size: 0.75 * _.$base-font-size;
      }
    }
  }
  & > .slide {
    position: relative;
    width: 100%;
    background-color: _.$white;
    &.one {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100dvh;
      overflow: hidden;
      & > .cover_image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100dvh;
        object-fit: cover;
        z-index: 0;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: brightness(40%);
        z-index: 1;
      }
      & > .title {
        font-family:
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          "Open Sans",
          "Helvetica Neue",
          sans-serif;
        text-align: center;
        font-weight: 600;
        color: _.$white;
        text-shadow: 0 0 10px _.$semi-transparent-black;
        z-index: 1;
        animation: fadeInUp 1s ease-out;
        @keyframes fadeInUp {
          from {
            opacity: 0;
            transform: translateY(30px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
        @media (prefers-reduced-motion: reduce) {
          animation: none;
        }
        @media (min-width: _.$width-1280) {
          width: 460px;
          font-size: 3.5 * _.$base-font-size;
          letter-spacing: 4 * _.$base-letter-spacing;
        }
        @media (min-width: _.$width-780) and (max-width: _.$width-1280) {
          width: 400px;
          font-size: 3 * _.$base-font-size;
          letter-spacing: 3 * _.$base-letter-spacing;
        }
        @media (max-width: _.$width-780) {
          width: min(100%, 350px);
          font-size: 2.5 * _.$base-font-size;
          letter-spacing: 2.5 * _.$base-letter-spacing;
        }
      }
      & > .subtitle {
        text-align: center;
        color: _.$light-gray;
        text-shadow: 0 0 10px _.$semi-transparent-black;
        z-index: 1;
        animation: fadeInUp 1s ease-out 0.3s both;
        margin-top: 30px;
        @media (prefers-reduced-motion: reduce) {
          animation: none;
        }
        & > h2 {
          font-weight: normal;
          margin: 0;
          @media (min-width: _.$width-1280) {
            font-size: 1.2 * _.$base-font-size;
            line-height: 2.5rem;
          }
          @media (max-width: _.$width-1280) {
            font-size: _.$base-font-size;
            line-height: 2rem;
          }
        }
      }
    }
    &.two {
      height: 400dvh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      @media (max-width: _.$width-512) {
        display: flex;
        flex-direction: column;
      }
      & > .left {
        $x: 100px;
        $y: 10dvh;
        padding: $y 0 $y $x;
        @media (min-width: _.$width-512) and (max-width: _.$width-780) {
          padding-left: 20px;
        }
        @media (max-width: _.$width-512) {
          position: sticky;
          top: 0;
          padding-left: 0;
        }
        & > .inner {
          position: sticky;
          top: $y;
          @media (max-width: _.$width-512) {
            display: flex;
            justify-content: center;
            height: fit-content;
          }
          & > .iphone {
            position: relative;
            display: flex;
            justify-content: center;
            height: 600px;
            width: 300px;
            z-index: 1;
            overflow: hidden;
            @media (max-width: _.$width-512) {
              height: 61.8dvh;
              width: 31.6dvh;
            }
            & > .demo_image {
              position: absolute;
              top: 0;
              display: none;
              height: 100%;
              object-fit: contain;
              &.show {
                display: initial;
                animation: fadein 0.3s ease;
              }
              @keyframes fadein {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
              }
              @media (prefers-reduced-motion: reduce) {
                animation: none;
              }
            }
          }
          & > .ball_container {
            position: absolute;
            top: -1 * $y;
            left: -1 * $x;
            width: 100vw;
            height: 100dvh;
            overflow: hidden;
            pointer-events: none;
            z-index: -1;
            @media (min-width: _.$width-512) and (max-width: _.$width-780) {
              left: -20px;
            }
            @media (max-width: _.$width-512) {
              left: 0;
            }
            & > .ball {
              position: absolute;
              top: 22dvh;
              left: $x - 56px;
              width: 400px;
              height: 400px;
              border-radius: 3000px;
              transition: background-color 0.6s cubic-bezier(0.4, 0, 0.2, 1);
              opacity: 0.8;
              &.blue {
                background: _.$blue;
              }
              &.yellow {
                background: _.$yellow;
              }
              &.green {
                background: _.$green;
              }
              @media (min-width: _.$width-512) and (max-width: _.$width-780) {
                left: -36px;
              }
              @media (max-width: _.$width-512) {
                top: 18dvh;
                left: 50%;
                translate: -50% 0;
              }
            }
          }
        }
      }
      & > .right {
        @media (max-width: _.$width-512) {
          position: sticky;
          top: 75dvh;
        }
        & > .inner {
          position: sticky;
          top: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100dvh;
          @media (max-width: _.$width-512) {
            height: fit-content;
          }
          & > .caption {
            display: none;
            font-size: 3.4 * _.$base-font-size;
            letter-spacing: 2 * _.$base-letter-spacing;
            font-weight: 600;
            &.show {
              display: initial;
              text-align: center;
              animation: bottomflyin 0.3s ease;
            }
            @media (min-width: _.$width-512) and (max-width: _.$width-780) {
              font-size: 3 * _.$base-font-size;
            }
            @media (max-width: _.$width-512) {
              font-size: 2.5 * _.$base-font-size;
              letter-spacing: 0px;
            }
            @keyframes bottomflyin {
              from {
                transform: translateY(50%);
                opacity: 0;
              }
              50% {
                transform: translateY(25%);
                opacity: 0;
              }
              to {
                transform: translateY(0);
                opacity: 1;
              }
            }
          }
        }
      }
    }
    &.three {
      display: flex;
      align-items: center;
      padding: 25dvh 0;
      @media (max-width: _.$width-1024) {
        flex-direction: column;
        gap: 30px;
      }
      & > .title {
        flex-grow: 1;
        width: fit-content;
        font-size: 3.4 * _.$base-font-size;
        font-weight: 600;
        padding-left: 8vw;
        @media (min-width: _.$width-780) and (max-width: _.$width-1280) {
          font-size: 3 * _.$base-font-size;
        }
        @media (max-width: _.$width-780) {
          font-size: 2.5 * _.$base-font-size;
          letter-spacing: 0px;
        }
        & > .yellow {
          color: _.$yellow;
        }
      }
      & > img {
        object-fit: contain;
        max-height: 61.8dvh;
        padding-right: 50px;
        @media (min-width: _.$width-1024) and (max-width: _.$width-1280) {
          max-width: 55vw;
        }
        @media (max-width: _.$width-1024) {
          max-width: 100vw;
          padding: 20px;
        }
      }
    }
    &.four {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      & > .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
        width: fit-content;
        max-width: 800px;
        & > .title {
          width: fit-content;
          font-size: 3.4 * _.$base-font-size;
          font-weight: 600;
          text-align: center;
          @media (min-width: _.$width-780) and (max-width: _.$width-1280) {
            font-size: 3 * _.$base-font-size;
          }
          @media (max-width: _.$width-780) {
            font-size: 2.5 * _.$base-font-size;
            letter-spacing: 0px;
          }
          & > .red {
            color: _.$red;
          }
        }
        & > .subtitle {
          width: 100%;
          color: _.$gray;
          margin: 20px 0;
          line-height: 1.8rem;
          text-align: center;
          font-size: 1.1 * _.$base-font-size;
        }
      }
      & > .iphone {
        position: relative;
        display: flex;
        justify-content: center;
        height: 61.8dvh;
        width: 400px;
        overflow: hidden;
        @media (max-width: _.$width-512) {
          height: 300px;
          width: 31.6dvh;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url("../../assets/iphone.webp");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: top;
          z-index: 1;
          pointer-events: none;
        }
        & > .demo_video {
          position: absolute;
          top: 15%;
          width: 86%;
          object-fit: contain;
          outline: 1.5px solid _.$white;
          outline-offset: -1px;
          z-index: 0;
        }
      }
    }
    &.five {
      display: flex;
      justify-content: center;
      padding: 100px 0;
      @media (max-width: _.$width-1024) {
        flex-direction: column;
      }
      & > .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        margin: auto;
        padding: 0 0 30px 40px;
        font-size: 3.4 * _.$base-font-size;
        font-weight: 600;
        @media (min-width: _.$width-1024) and (max-width: _.$width-1280) {
          font-size: 3 * _.$base-font-size;
        }
        @media (min-width: _.$width-780) and (max-width: _.$width-1024) {
          padding: 0 30px 50px 30px;
        }
        @media (max-width: _.$width-780) {
          font-size: 2.5 * _.$base-font-size;
          letter-spacing: 0px;
          padding: 0 30px 50px 30px;
        }
        & > .blue {
          color: _.$blue;
        }
      }
      & > img {
        object-fit: contain;
        max-height: 60dvh;
        padding-right: 50px;
        @media (min-width: _.$width-1024) and (max-width: _.$width-1280) {
          max-width: 55vw;
        }
        @media (max-width: _.$width-1024) {
          max-width: 100vw;
          padding-right: 0;
        }
      }
    }
    &.six {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30dvh 50px;
      background-color: _.$noisy-white;
      & > svg {
        transition: transform 0.3s ease;
        @media (hover: hover) {
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      & > hr {
        width: 80px;
        border: 1px solid _.$light-gray;
        border-radius: 2px;
        margin: 20px;
      }
      & > .title {
        font-size: 2.5 * _.$base-font-size;
        letter-spacing: 2.5 * _.$base-letter-spacing;
        font-weight: 600;
      }
      & > .subtitle {
        color: _.$gray;
        margin: 20px 0;
        line-height: 1.8rem;
        text-align: center;
        max-width: 600px;
        font-size: 1.1 * _.$base-font-size;
      }
    }
    &.seven {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 25dvh 50px;
      background-color: #0000;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: brightness(40%);
      }
      & > .logo {
        width: 100px;
        aspect-ratio: 1;
        object-fit: cover;
        z-index: 1;
      }
      & > .title_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        margin: 30px 0;
        & > .title {
          font-size: 3.2 * _.$base-font-size;
          letter-spacing: 2.5 * _.$base-letter-spacing;
          line-height: 5rem;
          margin: 0px;
          color: _.$noisy-white;
          font-weight: 600;
          text-shadow: 0 0 10px _.$semi-transparent-black;
          @media (min-width: _.$width-780) and (max-width: _.$width-1280) {
            font-size: 2.5 * _.$base-font-size;
          }
          @media (min-width: _.$width-512) and (max-width: _.$width-780) {
            font-size: 2.5 * _.$base-font-size;
          }
          @media (max-width: _.$width-512) {
            font-size: 1.8 * _.$base-font-size;
            letter-spacing: 2 * _.$base-letter-spacing;
          }
        }
      }
    }
  }
  & > .footer {
    position: relative;
    padding: 50px 30px 40px;
    background-color: _.$noisy-white;
    & > .logo_container {
      padding-bottom: 30px;
      display: flex;
      justify-content: center;
    }
    & > .essential_links {
      display: flex;
      justify-content: center;
      gap: 30px;
      padding: 20px 10px;
      font-size: 0.9 * _.$base-font-size;
      & > a {
        color: _.$deep-gray;
        transition: color 0.2s ease;
        position: relative;
        text-decoration: none;
        &::after {
          content: "";
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 0;
          height: 2px;
          background-color: _.$blue;
          transition: width 0.3s ease;
        }
        @media (hover: hover) {
          &:hover {
            color: _.$blue;
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
    & > hr {
      border: none;
      border-top: 1px solid _.$light-gray;
      margin: 20px 0;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
    & > .copyright {
      padding: 20px 0 10px;
      text-align: center;
      font-size: 0.8 * _.$base-font-size;
      letter-spacing: 0px;
      color: _.$gray;
    }
  }
}
