@use "../../global_variables" as _;

.main {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    max-width: 250px;
    font-weight: bold;
    color: _.$noisy-white;
    font-size: 0.9 * _.$base-font-size;
    z-index: 6;
    user-select: none;
    & > .box {
        display: flex;
        align-items: center;
        transform: translateX(110%);
        animation: flyinout 5s ease;
        border-radius: 5px;
        background-color: _.$red;
        padding: 5px 5px 5px 10px;
        margin-left: auto;
        box-shadow: 0 3px 8px 0 _.$transparent-black;
    }
    @keyframes flyinout {
        from {
            transform: translateX(110%);
        }
        6% {
            transform: translateX(0);
        }
        94% {
            transform: translateX(0);
        }
        to {
            transform: translateX(110%);
        }
    }
}

@media screen and (max-width: _.$width-780) {
    .main {
        & > .box {
            gap: 10px;
            padding: 8px 10px 10px 15px;
        }
    }
}
