@use "../../global_variables" as _;

.main {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: _.$function-bar-width;
  min-width: _.$function-bar-width;
  background-color: _.$white;
  overflow-y: auto;
  border-right: 0.5px solid _.$light-gray;
  .user_info {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    padding: 15px 5px;
    margin: 0 10px 5px;
    border-bottom: 1px solid _.$noisy-white;
    @media (hover: hover) {
      &:hover {
        .hint {
          opacity: 1 !important;
        }
      }
    }
    & > img {
      width: 40px;
      min-width: 40px;
      border-radius: 100px;
    }
    & > .middle {
      display: flex;
      flex-direction: column;
      gap: 5px;
      flex-grow: 1;
      overflow: hidden;
      & > .username {
        font-size: 0.9 * _.$base-font-size;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      & > .hint {
        font-size: 0.75 * _.$base-font-size;
        color: _.$blue;
        opacity: 0.9;
      }
    }
  }
  & > .subpage_list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 5px;
  }
  & > .lower {
    position: absolute;
    bottom: 0;
    width: 100%;
    & > .logo_outer {
      display: flex;
      justify-content: center;
      margin: 15px;
    }
    & > .copyright {
      text-align: center;
      font-size: 0.7 * _.$base-font-size;
      color: _.$gray;
      margin: 0 10px 10px;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: _.$width-780) {
  .main {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    width: 250px;
    transform: translateX(-100%);
    transition-duration: 300ms;
  }
}
